<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/icons/web-app-manifest-192x192.png">
<link rel="shortcut icon" href="/assets/images/icons/favicon.ico">

<!-- end custom head snippets -->
